{
  "plugins": [
    "transform-es3-member-expression-literals",
    "@babel/plugin-transform-reserved-words",
    "transform-es3-property-literals"
  ],
  "presets": ["@babel/preset-env", "@babel/react"]
}