.skill-tree {
  background-color: #333333;
  position: absolute;
  z-index: 2;
  height: 200px;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 50%;
  margin-top: -25%;

  .close-container {
    display:flex;
    justify-content: flex-end;
  }
  .close {
    font-size: 35px;
    color: indianred;
    background-color: black;
    bordeR: 0;
  }

  .skill {
    &.owned {
      color:green;
    }
  }
  .skill-tabs {
    .skill-tab {
      flex: 1 1 0px;

      &.active {
        background-color:white;
        color:black;
      }
    }
  }
}


