#editor-wrapper {
  display: flex;

  #editor-tile-selector {
    background-color: green;
    width: 200px;
  }

  #editor-tiles {
    display: flex;
    flex-wrap: wrap;

    .active {
      box-sizing: border-box;
      border: 3px solid white;
    }
  }
}
