.game-ui {
  box-sizing: border-box;
  background-color: #333333;
  border: 1px solid white;
  padding: 5px;
  width: 20%;
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%;
  color:white;
  min-width:200px;

  .col {
    width:120px;
    margin-right:50px;
  }

  .stats {
    position:absolute;
    top:0px;
    margin-left:auto;
    margin-right:auto;
    left:3%;
    color:white;
    font-size:1rem;
  }
  .bar {
    position:relative;
    height:20px;
    width:100%;
    border:1px solid white;
    background-color:black;

    &__filled {
      height:100%;
      &.xp {
        background-color:#a05900;
      }
      &.health {
        background-color:#c30000;
      }
    }
  }

  .game-options {
    padding-top:20px;
    width:100%;
    height:200px;
    color: indianred;
    .game-option {
      font-size:1.2rem;
      color:inherit;
      border:0;
      margin:3px;
      width:calc(50% - 6px); // - 3px * x
      height:50%;
      background-color:black;
    }
  }
}