.game-ui {
  width: 400px;
  left: 50%;
  right: 50%;
  position: fixed;
  height: 150px;
  bottom: 0;

  .col {
    width: 120px;
    margin-right: 50px;
  }

  .sphere {
    &--health {
      background-image: linear-gradient(180deg, red 30%, #790202);
      background-color: red;
      position: fixed;
      left: 0px;
      bottom: 0px;
    }

    .stats {
      z-index: 1;
      margin-left: 15%;
      margin-right: 15%;
      position: absolute;
      color: white;
      font-size: 1rem;
      width: 70%;
      top: 40%;
      text-align: center;
    }

    border-radius: 100%;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;

    .sphere__filled {
      background-color: black;
      height: 100%;
      width: 100%;
    }
  }

  .bar {
    position: fixed;
    height: 20px;
    border: 1px solid white;
    background-color: black;
    left: 20%;
    bottom: 10%;
    width: 500px;

    .stats {
      position: absolute;
      top: 0px;
      margin-left: auto;
      margin-right: auto;
      left: 3%;
      color: white;
      font-size: 1rem;
    }

    &__filled {
      height: 100%;

      &.xp {
        background-color: #a05900;
      }

      &.health {
        background-color: #c30000;
      }
    }
  }

  .game-options {
    padding-top: 20px;
    width: 100%;
    height: 200px;
    color: indianred;

    .game-option {
      position: relative;
      font-size: 1.2rem;
      color: inherit;
      border: 0;
      margin: 3px;
      width: calc(50% - 6px); // - 3px * x
      height: 50%;
      background-color: black;

      &.active {
        &::before {
          content: '!';
          color: white;
          font-size: 0.5rem;
          width: 10px;
          height: 10px;
          top: 5px;
          right: 5px;
          position: absolute;
          border-radius: 100%;
          background-color: #ad0000;
        }
      }
    }
  }
}
